<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{pageTitle}}</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
  <link href="/css/main.css" rel="stylesheet" />
  {{#each css}}
  <link href="/css/{{this}}" rel="stylesheet" />
  {{/each}}
</head>

<body>
  <nav class="main-nav">
    <ul class="main-nav__list">
      {{#each pages}}
      <li class="main-nav__list-item">
        <a class="{{activeClass this.url @root.currentUrl}}" href="{{this.url}}">{{this.title}}</a>
      </li>
      {{/each}}
    </ul>
  </nav>
  <main>
    {{{body}}}
  </main>
</body>

</html>