<%- include('../partials/head') -%>

<div>
	<% if (cart) { %>
	<h1 class="main-heading">Cart</h1>
	<table>
		<thead>
			<tr>
				<th>Product name</th>
				<th>Price</th>
				<th>Amount</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% for (const [id, product] of Object.entries(cart.products)) {%>
			<tr>
				<td><a href="/products/<%= id %>"><%= product.name %></a></td>
				<td>$ <%= product.price %></td>
				<td><%= product.amount %></td>
				<td>
					<form action="/cart/delete-product" method="POST">
						<input name="id" value="<%= id %>" type="hidden" />
						<button class="button button--danger">Delete</button>
					</form>
				</td>
			</tr>
			<% } %>
		</tbody>
	</table>
	<div>
		Total price: $ <%= cart.totalPrice.toFixed(2) %>
	</div>
	<% } else { %>
	<h1 class="main-heading">Ooops!</h1>
	<p>
		We couldn't find your cart :c
	</p>
	<a href="/" class="button">Go to Home Page</a>
	<% } %>
</div>

<%- include('../partials/end') -%>
