<%- include('../partials/head', { styles: ['cart'] }); -%>

<div>
	<% if (cart.products && cart.products.length) { %>
	<h1 class="main-heading">Cart</h1>
	<table class="cart">
		<thead class="cart__thead">
			<tr>
				<th class="cart__th cart__th--product">Product</th>
				<th class="cart__th cart__th--price">Price</th>
				<th class="cart__th cart__th--quantity">Quantity</th>
				<th class="cart__th cart__th--actions">Actions</th>
			</tr>
		</thead>
		<tbody class="cart__tbody">
			<% for (const product of cart.products) {%>
			<tr>
				<td class="cart__td cart__td--product">
					<a href="/products/<%= product._id %>"><%= product.name %></a>
				</td>
				<td class="cart__td cart__td--price">$ <%= product.price %></td>
				<td class="cart__td cart__td--quantity">
					<%= product.quantity %>
				</td>
				<td class="cart__td cart__td--actions">
					<form action="/cart/delete-product" method="POST">
						<%- include('../partials/csrf'); -%>
						<input name="id" value="<%= product._id %>" type="hidden" />
						<button class="button button--danger button--small">Delete</button>
					</form>
				</td>
			</tr>
			<% } %>
		</tbody>
	</table>
	<div class="summary">
		Total price:
		<span class="summary__price">$ <%= cart.totalPrice %></span>
		<div class="summary__actions">
			<form action="/order" method="POST">
				<%- include('../partials/csrf'); -%>
				<button class="button">Order Now</button>
			</form>
		</div>
	</div>
	<% } else { %>
	<h1 class="main-heading">Cart is empty</h1>
	<p>
		You haven't added any products to your cart yet.
	</p>
	<a href="/products" class="button">Go to Shop</a>
	<% } %>
</div>

<%- include('../partials/end'); -%>
