<%- include('../partials/head', { styles: ['products'] }); -%>

<section>
	<% if (products && products.length > 0) { %>
	<h1 class="main-heading">
		<%= `${(currentUrl.startsWith('/admin')) ? 'Admin' : ''} Products`%>
	</h1>
	<div class="products-list">
		<% for (const product of products) { %>
		<article class="product">
			<header class="product__header">
				<h2><%= product.name %></h2>
				<p class="product__price">
					<span class="currency">$</span>
					<span><%= product.price %></span>
				</p>
			</header>
			<div class="product__content">
				<img
					class="product__image"
					alt="<%= product.name %>"
					src="<%= product.imageUrl %>"
				/>
				<p><%= product.description %></p>
			</div>
			<div class="product__actions">
				<% if (currentUrl.startsWith('/admin')) { %>
				<a href="/admin/edit-product" class="button">Edit</a>
				<form
					class="product__action-form"
					action="/admin/delete-product"
					method="POST"
				>
					<button class="button button--danger">Delete</button>
				</form>
				<% } else { %>
				<form class="product__action-form" action="/add-to-cart" method="POST">
					<button class="button">Add to Cart</button>
				</form>
				<% } %>
			</div>
		</article>
		<% } %>
	</div>
	<% } else { %>
	<h1>No products yet!</h1>
	<% } %>
</section>

<%- include('../partials/end'); -%>
