<%- include('../partials/head', { styles: ['products'] }); -%>

<section class="w-100">
	<% if (products && products.length > 0) { %>
	<h1 class="main-heading">
		<%= `${(currentUrl.startsWith('/admin')) ? 'Admin' : ''} Products`%>
	</h1>
	<div class="products-list">
		<% for (const product of products) { %>
		<article class="product">
			<h2 class="product__name subheading"><%= product.name %></h2>
			<div class="product__price">
				<span class="currency">$</span>
				<span><%= product.price.toFixed(2) %></span>
			</div>
			<img
				class="product__image"
				alt="<%= product.name %>"
				src="<%= product.imageUrl %>"
			/>
			<div class="product__actions">
				<% if (currentUrl.startsWith('/admin')) { %>
				<a
					href="/admin/edit-product/<%= product.id %>?edit=true"
					class="button"
				>
					Edit
				</a>
				<form
					class="product__action-form"
					action="/admin/delete-product"
					method="POST"
				>
					<button class="button button--danger">Delete</button>
				</form>
				<% } else { %>
				<a class="button" href="/products/<%= product.id %>">Details</a>
				<%- include('../partials/add-to-cart', { product }); -%> <% } %>
			</div>
		</article>
		<% } %>
	</div>
	<% } else { %>
	<h1>No products yet!</h1>
	<% } %>
</section>

<%- include('../partials/end'); -%>
