<%- include('../partials/head', { styles: ['form'] }); -%>

<form
	autocomplete="off"
	class="form form--wide"
	action="/admin/<%= editing ? 'edit': 'add' %>-product"
	method="POST"
>
	<h1 class="main-heading">
		<%= editing ? `Edit Product: ${product.name}` : 'Add Product' %>
	</h1>
	<%- include('../partials/form-inputs', { 
		fields: [ 
			{
				id: 'name', 
				label: 'Name', 
				name: 'name',	
				type: 'text',
				value: editing ? product.name : ''
			},
			{
				id: 'imageUrl',
				label: 'Image URL',
				name: 'imageUrl',
				type: 'text',
				value: editing ? product.imageUrl : ''
			},
			{
				id: 'price',
				label: 'Price',
				min: 0,
				name: 'price',
				step: 0.01,
				type: 'number',
				value: editing ? product.price : ''
			},
			{
				id: 'description',
				label: 'Description',
				name: 'description',
				rows: 7,
				type: 'textarea',
				value: editing ? product.description : '',
				vertical: true
			}
		]
	}); -%>
	<% if (editing) { %>
		<input name="id" type="hidden" value="<%= product._id %>" />
	<% } %>
	<%- include('../partials/csrf'); -%>
	<button class="button" type="submit">
		<%= editing ? 'Update' : 'Add' %> Product
	</button>
</form>

<%- include('../partials/end'); -%>
