<%- include('../partials/head', { styles: ['product-form'] }); -%>

<form
	autocomplete="off"
	class="product-form"
	action="/admin/<%= editing ? 'edit': 'add' %>-product"
	method="POST"
>
	<h1 class="main-heading">
		<%= editing ? `Edit Product: ${product.name}` : 'Add Product' %>
	</h1>
	<div class="product-form-group">
		<label class="product-form-group__label" for="name">Name</label>
		<input
			class="product-form-group__input"
			id="name"
			name="name"
			type="text"
			value="<%= editing ? product.name : '' %>"
		/>
	</div>
	<div class="product-form-group">
		<label class="product-form-group__label" for="imageurl">Image URL</label>
		<input
			class="product-form-group__input"
			id="imageurl"
			name="imageurl"
			type="text"
			value="<%= editing ? product.imageUrl : '' %>"
		/>
	</div>
	<div class="product-form-group">
		<label class="product-form-group__label" for="price">Price</label>
		<input
			class="product-form-group__input"
			id="price"
			min="0"
			name="price"
			step="0.01"
			type="number"
			value="<%= editing ? product.price : '' %>"
		/>
	</div>
	<div class="product-form-group product-form-group--vertical">
		<label class="product-form-group__label" for="desc">Description</label>
		<textarea
			class="product-form-group__textarea"
			id="desc"
			name="desc"
			rows="7"
		><%= editing ? product.description : '' %></textarea>
	</div>
	<button class="button" type="submit">
		<%= editing ? 'Update' : 'Add' %> Product
	</button>
</form>

<%- include('../partials/end'); -%>
