<% for (const { id, label, name, type, value, vertical, ...attrs } of locals.fields) { %>
  <div class="<%= 
    'form-group' + 
    (vertical ? ' form-group--vertical' : '') + 
    (inputs.hasOwnProperty(name) && inputs[name].invalid ?
    ' form-group--invalid' : '') +
    (inputs.hasOwnProperty(name) && !inputs[name].invalid &&
    inputs[name].value !== '' ? ' form-group--valid' : '') %>"
  >
    <% if (type === 'textarea') { %>
      <textarea
        class="form-group__textarea"
        id="<%= id %>"
        name="<%= name %>"
        <%= Object.entries(attrs).map(([name, value]) => [name, value].join('=')).join('\n') %>
      ><%= inputs.hasOwnProperty(name) ? 
        inputs[name].value : 
        value ? value : '' 
      %></textarea>
    <% } else { %>
      <input
        class="form-group__input"
        id="<%= id %>"
        name="<%= name %>"
        type="<%= type %>"
        value="<%= inputs.hasOwnProperty(name) ? 
          inputs[name].value : 
          value ? value : '' %>"
        <%= Object.entries(attrs).map(([name, value]) => [name, value].join('=')).join('\n') %>
      />
    <% } %>
    <label class="form-group__label" for="<%= id %>"><%= label %></label>
  </div>
<% } %>
